[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
groq = "*"
pandas = "*"
langchain-groq = "*"
langchain = "*"
langchain-experimental = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
